<div class="datepicker-wrapper">
    <div class="datepicker-header"
        [ngClass]="config.headerClasses">
        <div class="weekday-header">
            <div class="weekday-title">{{getSelectedWeekday()}}</div>
        </div>
        <div class="date-header">
            <div class="row">
                <div class="col datepicker-month">
                    {{limitTo(getSelectedMonth(),3)}}
                </div>
            </div>
            <div class="row">
                <div class="col datepicker-day-of-month ">
                    {{selectedDate | date: 'd'}}
                </div>
            </div>
            <div class="row">
                <div class="col datepicker-year ">
                    {{selectedDate | date: 'yyyy'}}
                </div>
            </div>
        </div>
    </div>
    <div class="datepicker-calendar"
        [ngClass]="config.bodyClasses">
        <div class="row col datepicker-controls">
            <button (click)="prevMonth()"
                ion-button=""
                class="disable-hover button button-ios button-default button-default-ios">
                <span class="button-inner">
                    <ion-icon name="arrow-back" role="img" class="icon icon-ios ion-ios-arrow-back" aria-label="arrow-back" ng-reflect-name="arrow-back"></ion-icon></span><div class="button-effect"></div></button>            {{getTempMonth()}} {{getTempYear()}}
            <button (click)="nextMonth()"
                ion-button=""
                class="disable-hover button button-ios button-default button-default-ios">
                <span class="button-inner">
                    <ion-icon name="arrow-forward" role="img" class="icon icon-ios ion-ios-arrow-forward" aria-label="arrow-forward" ng-reflect-name="arrow-forward"></ion-icon></span><div class="button-effect"></div></button>
        </div>
        <div class="weekdays-row row">
            <span class="col calendar-cell"
                *ngFor="let dayOfWeek of weekdays">
                    {{limitTo(dayOfWeek,3)}}
                </span>
        </div>
        <div class="calendar-wrapper">
            <div class="row calendar-row" *ngFor="let week of rows;let i = index;">
                <span class="col calendar-cell"
                    *ngFor="let day of cols;let j=index;"
                    [ngClass]="{
                  'datepicker-date-col': getDate(i, j) !== undefined,
                  'datepicker-selected': isSelectedDate(getDate(i, j)),
                  'datepicker-current' : isActualDate(getDate(i, j)),
                  'datepicker-disabled': isDisabled(getDate(i, j))
                  }"
                    (click)="selectDate(getDate(i, j))">
					{{getDate(i, j) | date:'d'}}
				</span>
            </div>
        </div>
    </div>
    <div class="datepicker-footer">
        <button (click)="onCancel($event)"
            ion-button=""
            class="button button-clear button-small col-offset-33 disable-hover button button-ios button-default button-default-ios">
            <span class="button-inner">{{config.cancelText}}</span><div class="button-effect"></div></button>
        <button (click)="onDone($event)"
            ion-button=""
            class="button button-clear button-small disable-hover button button-ios button-default button-default-ios">
            <span class="button-inner">{{config.okText}}</span><div class="button-effect"></div></button>
    </div>
</div>