/* Empty. Add your own CSS if you like */

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.month, .day-of-month, .year {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  cursor: pointer;
}

.month, .year {
  font-size: 14px;
}

.day-of-month {
  font-size: 60px;
  font-weight: bold;
}

.bar-balanced {
  background-color: rgb(0, 141, 127) !important;
}

.balanced-light {
  background-color: rgb(0, 150, 136);
}

.color-balanced-light {
  color: rgb(0, 150, 136) !important;
}

.popup-body {
  padding: 0px !important;
}

.popup-buttons button {
  font-size: 12px;
  font-weight: bold;
}

.date-col:hover {
  background-color: rgba(56, 126, 245, 0.5);
  cursor: pointer;
}

.date-col:active {
  background-color: rgba(56, 126, 245, 1);
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.date-cell {
  padding: 5px;
}

.selected-date {
  background-color: rgba(182, 217, 214, 1) !important;
}

.today {
  color: rgba(60, 170, 159, 1);
}
